<mat-card>
	<mat-card-header>
		<mat-card-title>Command service</mat-card-title>
	</mat-card-header>
	<div class="container">
		<form [formGroup]="commandServiceFormGroup">
			<div>
				<mat-form-field>
					<mat-label>Command name</mat-label>
					<input matInput formControlName="commandName">
				</mat-form-field>
			</div>
			<div>
				<mat-form-field>
					<mat-label>Station Id</mat-label>
					<input matInput formControlName="stationId">
				</mat-form-field>
			</div>
			<div>
				<mat-form-field>
					<mat-label>Flow/Level</mat-label>
					<mat-select formControlName="commandType">
						<mat-option [value]="'Flow'"> Flow </mat-option>
						<mat-option [value]="'Level'"> Level </mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div>
				<mat-form-field>
					<mat-label>Increase/Decrease</mat-label>
					<mat-select formControlName="value">
						<mat-option [value]="'plus'"> Increase </mat-option>
						<mat-option [value]="'minus'"> Decrease </mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div>
				<mat-form-field>
					<mat-label>Ammount</mat-label>
					<input matInput formControlName="ammount">
				</mat-form-field>
			</div>
		</form>
		<div>
			<button mat-raised-button color="warn" (click)="invokeCommand()">Invoke</button>
			<button mat-raised-button color="primary" (click)="getCommands()">Get commands</button>
		</div>
		<button mat-raised-button (click)="reset()">Reset</button>
	</div>
</mat-card>