<div class="container" *ngIf="type === 'data' && items">
	<table mat-table [dataSource]="items" class="mat-elevation-z8">

		<ng-container matColumnDef="Water level">
			<th mat-header-cell *matHeaderCellDef> Water level </th>
			<td mat-cell *matCellDef="let element"> {{element.waterLevel}} </td>
		</ng-container>

		<ng-container matColumnDef="Water flow">
			<th mat-header-cell *matHeaderCellDef> Water flow </th>
			<td mat-cell *matCellDef="let element"> {{element.waterFlow}} </td>
		</ng-container>

		<ng-container matColumnDef="Rainfall">
			<th mat-header-cell *matHeaderCellDef> Rainfall </th>
			<td mat-cell *matCellDef="let element"> {{element.rainfall}} </td>
		</ng-container>

		<ng-container matColumnDef="Measured time">
			<th mat-header-cell *matHeaderCellDef> Measured time </th>
			<td mat-cell *matCellDef="let element"> {{element.measuredDateTime}} </td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="dataColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: dataColumns;"></tr>
	</table>
</div>

<div class="container" *ngIf="type === 'command' && items">
	<table mat-table [dataSource]="items" class="mat-elevation-z8">

		<ng-container matColumnDef="Command name">
			<th mat-header-cell *matHeaderCellDef> Command name </th>
			<td mat-cell *matCellDef="let element"> {{element.commandName}} </td>
		</ng-container>

		<ng-container matColumnDef="Endpoint">
			<th mat-header-cell *matHeaderCellDef> Endpoint </th>
			<td mat-cell *matCellDef="let element"> {{element.endpoint}} </td>
		</ng-container>

		<ng-container matColumnDef="Rest">
			<th mat-header-cell *matHeaderCellDef> Rest </th>
			<td mat-cell *matCellDef="let element"> {{element.rest}} </td>
		</ng-container>

		<ng-container matColumnDef="Gateway">
			<th mat-header-cell *matHeaderCellDef> Gateway </th>
			<td mat-cell *matCellDef="let element"> {{element.gateway}} </td>
		</ng-container>


		<tr mat-header-row *matHeaderRowDef="commandColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: commandColumns;"></tr>
	</table>
</div>

<div class="container" *ngIf="type === 'analytics' && items">
	<table mat-table [dataSource]="items" class="mat-elevation-z8">

		<ng-container matColumnDef="Water level">
			<th mat-header-cell *matHeaderCellDef> Water level </th>
			<td mat-cell *matCellDef="let element"> {{element.waterLevel}} </td>
		</ng-container>

		<ng-container matColumnDef="Water flow">
			<th mat-header-cell *matHeaderCellDef> Water flow </th>
			<td mat-cell *matCellDef="let element"> {{element.waterFlow}} </td>
		</ng-container>

		<ng-container matColumnDef="Rainfall">
			<th mat-header-cell *matHeaderCellDef> Rainfall </th>
			<td mat-cell *matCellDef="let element"> {{element.rainfall}} </td>
		</ng-container>

		<ng-container matColumnDef="Measured time">
			<th mat-header-cell *matHeaderCellDef> Measured time </th>
			<td mat-cell *matCellDef="let element"> {{element.measuredDateTime}} </td>
		</ng-container>

		<ng-container matColumnDef="Analyzed time">
			<th mat-header-cell *matHeaderCellDef> Analyzed time </th>
			<td mat-cell *matCellDef="let element"> {{element.analyzedDataTime}} </td>
		</ng-container>

		<ng-container matColumnDef="Event type">
			<th mat-header-cell *matHeaderCellDef> Event type </th>
			<td mat-cell *matCellDef="let element"> {{ getEventName(element.analyzedEventType) }} </td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="analyticsColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: analyticsColumns;"></tr>
	</table>
</div>

<div class="container" *ngIf="type === 'device' && items">
	<p>{{items | json}}</p>
</div>
